#ifndef __ABSTRACT_CORE_REBECA_MODEL_CHECKER_H_
\#define __ABSTRACT_CORE_REBECA_MODEL_CHECKER_H_

\#include "AbstractModelChecker.h"
\#include "AbstractCoreRebecaAnalyzer.h"

\#include <iostream>
\#include <list>

\#define STACK_OVERFLOW 10

class CoreRebecaModelChecker : public AbstractModelChecker, public AbstractCoreRebecaAnalyzer {

protected:
	using AbstractCoreRebecaAnalyzer::exportState;
	using AbstractCoreRebecaAnalyzer::exportTransition;
	
    virtual long getConsumedMemory();
    virtual void printCounterExample();

    virtual void printModelCheckingOptions();

	virtual void exportModelCheckingReportExtraDetails();
	
public:

	CoreRebecaModelChecker(std::ostream &out 
		#ifdef EXPORT_STATE_SPACE
		    , ostream &statespace
		#endif
		, int hashmapSize);
	virtual void doModelChecking(string userSelectedPropertyName, string userSelectedPropertyType);
	virtual void exportModelCheckingResult(string userSelectedPropertyName, 
		string userSelectedPropertyType, int result, string message);

	#applyPatch($patches 'AdditionalSignatures' false)
		
	void segmentationFault();
};

#endif