#macro (printDottyStateStateVars $varList)
	out << "<table>" << endl;
    #if($varList)
        #foreach($variableDec in $varList)
	    	out << "<tr>" << endl;
            #set($name = _ref_$variableDec.getName())
            #set($type = $variableDec.getType())
            #pintValueOfVariable($name, $type)
	    	out << "<td>$name</td> <td>";
            out << $TypesAnalysisUtilities.getVaribleValue(_ref_$variableDec.getName(), $type);
    		out << "</td>" << endl;
	    	out << "</tr>" << endl;
        #end
    	out << "<tr>" << endl << "<td>queue</td><td>";
    	out << "</td></tr>" << endl;
    #end
	out << "</table>" << endl;
#end

#macro (printMessageSpecification $methodDeclaration)
    int i = 0;
    #retrieveListFromArray("paramQueue[cnt]" "i" $methodDeclaration.getFormalParameters() true "_temp_")
	out << rebecs[senderQueue[cnt]]->myName << "-&lt" << myName << ":" << 
           messageNames[messageQueue[cnt]] << "("
    #foreach($param in $methodDeclaration.getFormalParameters()) << _temp_$param.getName() << "," #end
    << ")";
#end

#macro (printDottyQueueContent $varList)
	out << "<table>" << endl;
	out << "<tr>" << endl << "<td rowspan=" << maxQueueLength << ">queue</td>";
	for (int cnt = 0; cnt < maxQueueLength; cnt++) {
		if (!messageQueue[cnt])
			break;
		switch (messageQueue[cnt]) {
        #foreach ($methodDeclaration in $reactiveClassDeclaration.getMsgsrvs())
        case $methodDeclaration.getName().toUpperCase():
        	#if($foreach.count == 1)
        		cout << "<tr>" << endl;
        	#end
        	out << "<td>";
        	#printMessageSpecification()
        	out << "</td>" << endl;
        	#if($foreach.count == 1)
        		cout << "</tr>" << endl;
        	#end
        #end
       }
	out << "<\tr>" << endl << "</table>" << endl;
#end