#*In the name of Allah*#

\#include "PropertyDefinition.h"

#if ($features.contains("SYSTEM_C"))
\#include "GlobalVars.h"
#end

#foreach($reactiveClassDeclaration in $reactiveClassDeclarations)
    \#include "${reactiveClassDeclaration.getName()}.h"
#end


#set($counter = 0)
#foreach($instance in $mainDeclaration.getMainRebecDefinition())
    \#define _rebec_$instance.getName() (($instance.getType() *) rebecs[$counter])
    #set($counter = $counter + 1)
#end

bool evaluate(char *ruleName) {
    #foreach($ruleName in $definitions.keySet())
    if (!strcmp(ruleName, "__pl__$ruleName.toLowerCase()")) {
        return $translator.resolveExpression($definitions.get($ruleName));
    }
    #end
    return false;
}

