                                                #*In the name of Allah*#

#ifndef __MODERE_REBECMGR_H_
\#define __MODERE_REBECMGR_H_

\#include "Types.h"
\#include "Config.h"


void unmarshalRebecs(long* node);
void marshalRebecs(long* node);

#ifdef DEBUG
void printStateContent(TimedBFSState* state, ostream &out);
#endif

long getNextSysState(long* rebecsState, byte rebecIndex);
    
void initialize(long* rebs);

#endif
